[Unit]
Description=alipro
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home
ExecStart=/usr/bin/sh app.sh
Restart=always

[Install]
WantedBy=multi-user.target
